Welcome to the OT Machine Learning Training #1
We just heard a lot about basic ML and decision trees. Now while it is fun and challenging to code your own decision tree algo, I 
think we could better use this time to familiarize ourselves with some of the tools of the trade. This will also include 
learning about how we prepare data for ML and how tuning small parameters on the models can make a huge difference in results.

So, what are these tools of the trade? Well to start, the most popular language for ML is (arguably) Python. So we will be using
python. Don't freak out, it's pretty intuitive. 

What else? 
- Well we need a good way to represent and handle our data (what we will learn from). Pandas is a fantastic data analysis
library very popular in the ML world. Pandas will allow us to read data from csv files, and represent it in a easy to handle way.
- Since we aren't going to write our own Decision Tree right now we need a way to create one. Scikit-learn is the leading machine 
learning library in python. It provides all types of classifiers, including Decision Trees. 
- And of course this is a Jupyter notebook. It will be your favorite thing. You can execute through this notebook in parts or 
'cells' which allows you to move at your own pace and allows me to provide you some structure.

The Task
The goal of this training is to read in 'training' dataset, use it to train a Decision Tree, and successfully classify a 'test'
dataset. The dataset is about the Titanic. You will be predicting whether a given person survived or not. 
The dataset source is [here](https://www.openml.org/d/40945) but you don't need to download anything.

Let's get started

In [1]:
# this is how you import libraries in python
import pandas as pd
import sklearn
from sklearn import tree, preprocessing

Task 1: Get Some Data

Read the 'training.csv' and 'testing.csv' into a pandas dataframes. 
Change the code below to do that. If you do it right, when you run the 
notebook, it will print the training dataset (you'll see passenger information etc). You can
print the testing dataset too if you want.

In [2]:
training_data = pd.read_csv('training.csv')
testing_data = pd.read_csv('testing.csv')
print(training_data, '/n', testing_data)

     pclass  survived                                               name  \
0         3         0                        Alhomaki, Mr. Ilmari Rudolf
1         1         0                            Kenyon, Mr. Frederick R
2         3         1  Moubarek, Master. Halim Gonios ('William George')
3         1         0                            Meyer, Mr. Edgar Joseph
4         3         1                           Glynn, Miss. Mary Agatha
5         3         0                     Hakkarainen, Mr. Pekka Pietari
6         2         0                         Beauchamp, Mr. Henry James
7         3         0                               Connolly, Miss. Kate
8         3         0                              Saade, Mr. Jean Nassr
9         2         1                         Navratil, Master. Michel M
10        3         0   Katavelas, Mr. Vassilios ('Catavelas Vassilios')
11        2         0                             Hunt, Mr. George Henry
12        3         0                                 Lefebre, Miss. Ida
13        3         0                                 Farrell, Mr. James
14        3         0                                 Tikkanen, Mr. Juho
15        3         0                                   Wirz, Mr. Albert
16        3         0                                  Kassem, Mr. Fared
17        3         0           Johnston, Miss. Catherine Helen 'Carrie'
18        3         0                                Yasbeck, Mr. Antoni
19        3         1                           Dowdell, Miss. Elizabeth
20        2         1                          Smith, Miss. Marion Elsie
21        2         1                               Ridsdale, Miss. Lucy
22        2         0                         Rogers, Mr. Reginald Harry
23        3         0                          Arnold-Franchi, Mr. Josef
24        1         1                          Harper, Mr. Henry Sleeper
25        2         1                  Mellinger, Miss. Madeleine Violet
26        1         1  Thayer, Mrs. John Borland (Marian Longstreth M...
27        3         0                                Kiernan, Mr. Philip
28        1         0                          Millet, Mr. Francis Davis
29        2         0             Yrois, Miss. Henriette ('Mrs Harbeck')
..      ...       ...                                                ...
842       3         0                        Olsvigen, Mr. Thor Anderson
843       1         0                              Rood, Mr. Hugh Roscoe
844       1         1  Frauenthal, Mrs. Henry William (Clara Heinshei...
845       3         1                                    Sap, Mr. Julius
846       2         1  Davies, Mrs. John Morgan (Elizabeth Agnes Mary...
847       3         1              Coutts, Master. Eden Leslie 'Neville'
848       3         0                             Reynolds, Mr. Harold J
849       3         0                                  Samaan, Mr. Hanna
850       3         1                                 Murphy, Miss. Nora
851       3         0                                Ware, Mr. Frederick
852       1         1            Bishop, Mrs. Dickinson H (Helen Walton)
853       2         1  Wells, Mrs. Arthur Henry ('Addie' Dart Trevaskis)
854       3         0                          Davison, Mr. Thomas Henry
855       3         0                            O'Donoghue, Ms. Bridget
856       1         0                          Crafton, Mr. John Bertram
857       3         0              Lindahl, Miss. Agda Thorilda Viktoria
858       2         0                              Hiltunen, Miss. Marta
859       1         1                         Snyder, Mr. John Pillsbury
860       1         1                       Sloper, Mr. William Thompson
861       2         1  Laroche, Mrs. Joseph (Juliette Marie Louise La...
862       3         0                      Boulos, Mrs. Joseph (Sultana)
863       2         0                      Carter, Rev. Ernest Courtenay
864       2         1                        Becker, Miss. Marion Louise
865       2         1                     Duran y More, Miss. Florentina
866       2         1                 Bryhl, Miss. Dagmar Jenny Ingeborg
867       3         0                                   Ford, Mr. Arthur
868       3         0                            Jussila, Miss. Katriina
869       1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
870       3         0                           O'Connell, Mr. Patrick D
871       1         0                          White, Mr. Richard Frasar

        sex   age  sibsp  parch             ticket      fare cabin embarked  \
0      male    20      0      0   SOTON/O2 3101287     7.925     ?        S
1      male    41      1      0              17464   51.8625   D21        S
2      male     ?      1      1               2661   15.2458     ?        C
3      male    28      1      0           PC 17604   82.1708     ?        C
4    female     ?      0      0             335677      7.75     ?        Q
5      male    28      1      0   STON/O2. 3101279     15.85     ?        S
6      male    28      0      0             244358        26     ?        S
7    female    30      0      0             330972    7.6292     ?        Q
8      male     ?      0      0               2676     7.225     ?        C
9      male     3      1      1             230080        26    F2        S
10     male  18.5      0      0               2682    7.2292     ?        C
11     male    33      0      0         SCO/W 1585    12.275     ?        S
12   female     ?      3      1               4133   25.4667     ?        S
13     male  40.5      0      0             367232      7.75     ?        Q
14     male    32      0      0  STON/O 2. 3101293     7.925     ?        S
15     male    27      0      0             315154    8.6625     ?        S
16     male     ?      0      0               2700    7.2292     ?        C
17   female     ?      1      2         W./C. 6607     23.45     ?        S
18     male    27      1      0               2659   14.4542     ?        C
19   female    30      0      0             364516    12.475     ?        S
20   female    40      0      0              31418        13     ?        S
21   female    50      0      0        W./C. 14258      10.5     ?        S
22     male    19      0      0              28004      10.5     ?        S
23     male    25      1      0             349237      17.8     ?        S
24     male    48      1      0           PC 17572   76.7292   D33        C
25   female    13      0      1             250644      19.5     ?        S
26   female    39      1      1              17421  110.8833   C68        C
27     male     ?      1      0             367229      7.75     ?        Q
28     male    65      0      0              13509     26.55   E38        S
29   female    24      0      0             248747        13     ?        S
..      ...   ...    ...    ...                ...       ...   ...      ...
842    male    20      0      0               6563     9.225     ?        S
843    male     ?      0      0             113767        50   A32        S
844  female     ?      1      0           PC 17611    133.65     ?        S
845    male    25      0      0             345768       9.5     ?        S
846  female    48      0      2         C.A. 33112     36.75     ?        S
847    male     9      1      1         C.A. 37671      15.9     ?        S
848    male    21      0      0             342684      8.05     ?        S
849    male     ?      2      0               2662   21.6792     ?        C
850  female     ?      0      0              36568      15.5     ?        Q
851    male     ?      0      0             359309      8.05     ?        S
852  female    19      1      0              11967   91.0792   B49        C
853  female    29      0      2              29103        23     ?        S
854    male     ?      1      0             386525      16.1     ?        S
855  female     ?      0      0             364856      7.75     ?        Q
856    male     ?      0      0             113791     26.55     ?        S
857  female    25      0      0             347071     7.775     ?        S
858  female    18      1      1             250650        13     ?        S
859    male    24      1      0              21228   82.2667   B45        S
860    male    28      0      0             113788      35.5    A6        S
861  female    22      1      2      SC/Paris 2123   41.5792     ?        C
862  female     ?      0      2               2678   15.2458     ?        C
863    male    54      1      0             244252        26     ?        S
864  female     4      2      1             230136        39    F4        S
865  female    30      1      0      SC/PARIS 2148   13.8583     ?        C
866  female    20      1      0             236853        26     ?        S
867    male     ?      0      0           A/5 1478      8.05     ?        S
868  female    20      1      0               4136     9.825     ?        S
869  female    38      1      0           PC 17599   71.2833   C85        C
870    male     ?      0      0             334912    7.7333     ?        Q
871    male    21      0      1              35281   77.2875   D26        S

    boat body                                          home.dest
0      ?    ?                          Salo, Finland Astoria, OR
1      ?    ?                            Southington / Noank, CT
2      C    ?                                                  ?
3      ?    ?                                       New York, NY
4     13    ?                   Co Clare, Ireland Washington, DC
5      ?    ?                                                  ?
6      ?    ?                                            England
7      ?    ?                                            Ireland
8      ?    ?                                                  ?
9      D    ?                                       Nice, France
10     ?   58                                                  ?
11     ?    ?                                   Philadelphia, PA
12     ?    ?                                                  ?
13     ?   68     Aughnacliff, Co Longford, Ireland New York, NY
14     ?    ?                                                  ?
15     ?  131                                                  ?
16     ?    ?                                                  ?
17     ?    ?                                                  ?
18     C    ?                                                  ?
19    13    ?                                     Union Hill, NJ
20     9    ?                                                  ?
21    13    ?  London, England / Marietta, Ohio and Milwaukee...
22     ?    ?                                                  ?
23     ?    ?                               Altdorf, Switzerland
24     3    ?                                       New York, NY
25    14    ?                           England / Bennington, VT
26     4    ?                                      Haverford, PA
27     ?    ?                                                  ?
28     ?  249                               East Bridgewater, MA
29     ?    ?                                              Paris
..   ...  ...                                                ...
842    ?   89                           Oslo, Norway Cameron, WI
843    ?    ?                                        Seattle, WA
844    5    ?                                       New York, NY
845   11    ?                                                  ?
846   14    ?                    St Ives, Cornwall / Hancock, MI
847    2    ?                               England Brooklyn, NY
848    ?    ?                                                  ?
849    ?    ?                                                  ?
850   16    ?                                                  ?
851    ?    ?                                                  ?
852    7    ?                                       Dowagiac, MI
853   14    ?                               Cornwall / Akron, OH
854    ?    ?                     Liverpool, England Bedford, OH
855    ?    ?                                                  ?
856    ?    ?                                      Roachdale, IN
857    ?    ?                                                  ?
858    ?    ?                 Kontiolahti, Finland / Detroit, MI
859    7    ?                                    Minneapolis, MN
860    7    ?                                    New Britain, CT
861   14    ?                                      Paris / Haiti
862    ?    ?                                     Syria Kent, ON
863    ?    ?                                             London
864   11    ?                 Guntur, India / Benton Harbour, MI
865   12    ?                    Barcelona, Spain / Havana, Cuba
866   12    ?                       Skara, Sweden / Rockford, IL
867    ?    ?                      Bridgwater, Somerset, England
868    ?    ?                                                  ?
869    4    ?                                       New York, NY
870    ?    ?                                                  ?
871    ?  169                                      Brunswick, ME

[872 rows x 14 columns] /n      pclass  survived                                               name  \
0         2         1                     Navratil, Master. Edmond Roger
1         1         1                        Leader, Dr. Alice (Farnham)
2         1         0                         Payne, Mr. Vivian Ponsonby
3         3         0                                   Ford, Mr. Arthur
4         1         0                          Goldschmidt, Mr. George B
5         1         1                       Kimball, Mr. Edwin Nelson Jr
6         3         0                    Fischer, Mr. Eberhard Thelander
7         2         0                          Slemen, Mr. Richard James
8         3         0                                   Kelly, Mr. James
9         2         0                         Norman, Mr. Robert Douglas
10        1         0                       Blackwell, Mr. Stephen Weart
11        1         1                      Beckwith, Mr. Richard Leonard
12        2         1      Weisz, Mrs. Leopold (Mathilde Francoise Pede)
13        3         0                                Sage, Mr. Frederick
14        3         0                               Waelens, Mr. Achille
15        3         1                              Krekorian, Mr. Neshan
16        3         1             Daly, Miss. Margaret Marcella 'Maggie'
17        3         0                            Connaghton, Mr. Michael
18        3         0                  Lindblom, Miss. Augusta Charlotta
19        2         0                       Jacobsohn, Mr. Sidney Samuel
20        3         0                        Vander Cruyssen, Mr. Victor
21        3         1                                 Hyman, Mr. Abraham
22        3         0                                 Sdycoff, Mr. Todor
23        1         0                          Pears, Mr. Thomas Clinton
24        3         0                           Cribb, Mr. John Hatfield
25        3         0                               Cacic, Mr. Jego Grga
26        3         0                        Andersen, Mr. Albert Karvin
27        1         0                    Foreman, Mr. Benjamin Laventall
28        2         1  Davies, Mrs. John Morgan (Elizabeth Agnes Mary...
29        2         1                          Smith, Miss. Marion Elsie
..      ...       ...                                                ...
406       3         0                                   Davies, Mr. Evan
407       3         0                                    Cor, Mr. Bartol
408       3         0                                 Nankoff, Mr. Minko
409       2         0                        Phillips, Mr. Escott Robert
410       3         1  Moubarek, Master. Halim Gonios ('William George')
411       1         1                 Cardeza, Mr. Thomas Drake Martinez
412       3         0                                Zakarian, Mr. Ortin
413       2         0                        Parkes, Mr. Francis 'Frank'
414       3         0                          Wittevrongel, Mr. Camille
415       3         1           Kelly, Miss. Anna Katherine 'Annie Kate'
416       3         0                           Buckley, Miss. Katherine
417       3         0                           Dyker, Mr. Adolf Fredrik
418       3         0                                Canavan, Miss. Mary
419       1         0                              Rood, Mr. Hugh Roscoe
420       3         0                               Linehan, Mr. Michael
421       2         1                                  Rugg, Miss. Emily
422       2         0                                  Hold, Mr. Stephen
423       3         0                                Samaan, Mr. Youssef
424       1         0                         Molson, Mr. Harry Markland
425       3         0                    Hagland, Mr. Ingvald Olai Olsen
426       3         0                            Kilgannon, Mr. Thomas J
427       1         0                       Walker, Mr. William Anderson
428       3         1                                Roth, Miss. Sarah A
429       3         0                             Celotti, Mr. Francesco
430       1         0  Lindeberg-Lind, Mr. Erik Gustaf ('Mr Edward Li...
431       1         1      Romaine, Mr. Charles Hallace ('Mr C Rolmane')
432       2         1                                Ilett, Miss. Bertha
433       3         0                       Berglund, Mr. Karl Ivar Sven
434       3         0                        Shorney, Mr. Charles Joseph
435       3         0               Andersson, Miss. Ingeborg Constanzia

        sex   age  sibsp  parch       ticket      fare        cabin embarked  \
0      male     2      1      1       230080   26.0000           F2        S
1    female    49      0      0        17465   25.9292          D17        S
2      male    23      0      0        12749   93.5000          B24        S
3      male     ?      0      0     A/5 1478    8.0500            ?        S
4      male    71      0      0     PC 17754   34.6542           A5        C
5      male    42      1      0        11753   52.5542          D19        S
6      male    18      0      0       350036    7.7958            ?        S
7      male    35      0      0        28206   10.5000            ?        S
8      male  34.5      0      0       330911    7.8292            ?        Q
9      male    28      0      0       218629   13.5000            ?        S
10     male    45      0      0       113784   35.5000            T        S
11     male    37      1      1        11751   52.5542          D35        S
12   female    29      1      0       228414   26.0000            ?        S
13     male     ?      8      2     CA. 2343   69.5500            ?        S
14     male    22      0      0       345767    9.0000            ?        S
15     male    25      0      0         2654    7.2292        F E57        C
16   female    30      0      0       382650    6.9500            ?        Q
17     male    31      0      0       335097    7.7500            ?        Q
18   female    45      0      0       347073    7.7500            ?        S
19     male    42      1      0       243847   27.0000            ?        S
20     male    47      0      0       345765    9.0000            ?        S
21     male     ?      0      0         3470    7.8875            ?        S
22     male     ?      0      0       349222    7.8958            ?        S
23     male    29      1      0       113776   66.6000           C2        S
24     male    44      0      1       371362   16.1000            ?        S
25     male    18      0      0       315091    8.6625            ?        S
26     male    32      0      0       C 4001   22.5250            ?        S

Task 2: Awesome you have the dataset. Now a pandas dataframe is kind of like a table. It has 
columns with labels representing our attributes, like 'age' 'sex' and 'name' and rows 
representing single instances of data. Kate Winslet would have a row, Leo would have a row etc.
One of our attributes/columns is called 'survived'. This is what you want to teach your model 
to predict. It is our 'target class'. It is okay to use these values for training, that is how
the model learns. But if you use them for testing your model, you are 'cheating'.

What we need to do is extract the 'survived' column from both datasets. The Decision tree we 
are going to use accepts two parameters to its training function: x_train and y_train 

When you later go to score your tree (see how well it does on unknown data) it will need a
x_test and y_test.

So:
x_train/test is all rows and columns except the target column
y_train/test is your target column

Try to create these variables from your dataframes

In [3]:
y_train = training_data[['survived']]
x_train = training_data.drop('survived', axis=1)

y_test = testing_data[['survived']]
x_test = testing_data.drop('survived', axis=1)

print(y_train)

     survived
0           0
1           0
2           1
3           0
4           1
5           0
6           0
7           0
8           0
9           1
10          0
11          0
12          0
13          0
14          0
15          0
16          0
17          0
18          0
19          1
20          1
21          1
22          0
23          0
24          1
25          1
26          1
27          0
28          0
29          0
..        ...
842         0
843         0
844         1
845         1
846         1
847         1
848         0
849         0
850         1
851         0
852         1
853         1
854         0
855         0
856         0
857         0
858         0
859         1
860         1
861         1
862         0
863         0
864         1
865         1
866         1
867         0
868         0
869         1
870         0
871         0

[872 rows x 1 columns]

Task 3: Awesome you have your training data, nicely seperated into instances and targets. Ready to train the tree right?? Not so
fast. One of the tough things about sklearn and other python libraries is they don't allow for categorical variables in models. 
What does that mean? It means attributes like 'name' whose value is something other than numerical. That confuses the model and it
will refect you. No one likes rejection. So we need to do some more data manipulating. Getting a little tedious? This is a lesson
in ML - it's not all about the models. Having good, clean data is a huge priority and takes work. Lucky for you I'll handle this.
Just run the below to make sure you get what you need.

In [4]:
# find the offensive columns
bad_form_attributes_train = x_train.select_dtypes(include=[object])
bad_form_attributes_test = x_test.select_dtypes(include=[object])
print('these are the categorical columns ', bad_form_attributes_test.columns, '\n')

# drop the badies from our nice x_train
x_train = x_train.drop(bad_form_attributes_train.columns, axis=1)
x_test = x_test.drop(bad_form_attributes_test.columns, axis=1)

encoder_train = preprocessing.LabelEncoder()
encoded_columns_train = bad_form_attributes_train.apply(encoder_train.fit_transform)

encoder_test = preprocessing.LabelEncoder()
encoded_columns_test = bad_form_attributes_test.apply(encoder_test.fit_transform)
print('check it out we encoded the badies \n', encoded_columns_test)

x_train = x_train.join(encoded_columns_train, how='left', lsuffix='_left', rsuffix='_right')
x_test = x_test.join(encoded_columns_test, how='left', lsuffix='_left', rsuffix='_right')
print('our new, no categorical training set \n', x_train)

these are the categorical columns  Index(['name', 'sex', 'age', 'ticket', 'cabin', 'embarked', 'boat', 'body',
       'home.dest'],
      dtype='object')

check it out we encoded the badies
      name  sex  age  ticket  cabin  embarked  boat  body  home.dest
0     273    1   16      57     66         3    20    38        113
1     213    0   56      41     42         3    14    38        111
2     304    1   22      31      7         3    16    38        107
3     130    1   75     286      0         3    16    38         17
4     142    1   72     336      3         1    16    38        111
5     204    1   49      27     43         3    11    38         14
6     126    1   13     218      0         3    16    38          0
7     365    1   39     119      0         3    16    38         33
8     197    1   38     153      0         2    16    33          0
9     282    1   28      50      0         3    16    20         56
10     47    1   52      19     70         3    16    38        155
11     41    1   42      26     46         3    11    38        111
12    415    0   29      56      0         3     0    38         21
13    349    1   75     316      0         3    16    38          0
14    408    1   20     172      0         3    16    38          3
15    206    1   24      94     63         1     0    38          0
16     97    0   31     261      0         2     6    38         29
17     87    1   33     159      0         2    16    38         81
18    219    0   52     185      0         3    16    38          0
19    184    1   49      70      0         3    16    38         94
20    407    1   54     171      0         3    16    38          0
21    178    1   75     178      0         3    19    38          0
22    358    1   75     204      0         3    16    38          0
23    306    1   29      18     26         3    16    38         84
24     90    1   51     257      0         3    16    38         16
25     63    1   13     144      0         3    16    38          0
26     11    1   34     295      0         3    16    16         12
27    131    1   31      11     24         1    16    38        111
28    104    0   55     306      0         3     5    38        138
29    368    0   46     136      0         3    15    38          0
..    ...  ...  ...     ...    ...       ...   ...   ...        ...
406   101    1   20     350      0         3    16    38          0
407    88    1   39     207      0         3    16    38          6
408   270    1   75     203      0         3    16    38          0
409   312    1   50     345      0         3    16    38         77
410   263    1   75      99      0         1    19    38          0
411    69    1   40     337     14         1     9    38          8
412   432    1   27     104      0         1    16    38          0
413   301    1   75      66      0         3    16    38         10
414   427    1   40     173      0         3    16    38          0
415   196    0   75     279      0         2     7    38          0
416    58    0   14     150      0         2    16    24         31
417   117    1   22     184      0         3    16    38        160
418    67    0   19     234      0         2    16    38          0
419   338    1   75      17      2         3    16    38        133
420   221    1   75     157      0         2    16    38          0
421   343    0   19     302      0         3     2    38         62
422   169    1   51     105      0         3    16    38         49
423   354    1   75     100      0         1    16    38          0
424   259    1   59      20     28         3    16    38        107
425   149    1   75     271      0         3    16    38          0
426   203    1   75     245      0         2    16    38          0
427   409    1   54     250     49         3    16    38         44
428   340    0   75     164      0         3    19    38          0
429    74    1   23     167      0         3    16    38         94
430   220    1   49      42      0         3    16    38        142
431   336    1   52       5      0         3    15    38        111
432   180    0   12     357      0         3    16    38         60
433    43    1   20     341      0         3    16    38        154
434   362    1   75     258      0         3    16    38          0
435    14    0   74     189      0         3    16    38        145

[436 rows x 9 columns]
our new, no categorical training set
      pclass  sibsp  parch  name  sex  age  ticket  fare  cabin  embarked  \
0         3      0      0    13    1   21     650   191      0         3
1         1      1      0   432    1   54      79   132     91         3
2         3      1      1   560    1   92     186    41      0         1
3         1      1      0   541    1   33     601   220      0         1
4         3      0      0   291    0   92     287   179      0         2
5         3      1      0   317    1   33     668    46      0         3
6         2      0      0    70    1   33     139    82      0         3
7         3      0      0   164    0   37     284   172      0         2
8         3      0      0   696    1   92     197   164      0         1
9         2      1      1   574    1   36     104    82    129         3
10        3      0      0   423    1   18     201   165      0         1
11        2      0      0   377    1   42     638    14      0         3
12        3      3      1   467    0   92     494    78      0         3
13        3      0      0   251    1   53     450   179      0         2
14        3      0      0   782    1   40     666   191      0         3
15        3      0      0   850    1   32     266   213      0         3
16        3      0      0   422    1   92     215   165      0         1
17        3      1      2   406    0   92     677    75      0         3
18        3      1      0   855    1   32     184    34      0         1
19        3      0      0   228    0   37     435    17      0         3
20        2      0      0   739    0   52     250    21      0         3
21        2      0      0   671    0   65     673     3      0         3
22        2      0      0   678    1   19     218     3      0         3
23        3      1      0    33    1   29     375    54      0         3
24        1      1      0   327    1   62     588   198     94         1
25        2      0      1   536    0   11     155    58      0         3
26        1      1      1   773    0   50      77    10     71         1
27        3      1      0   436    1   92     447   179      0         2
28        1      0      0   542    1   83      70    86    114         3
29        2      0      0   861    0   27     153    21      0         3
..      ...    ...    ...   ...  ...  ...     ...   ...    ...       ...
842       3      0      0   606    1   21     501   227      0         3
843       1      0      0   681    1   92      31   129      7         3
844       1      1      0   272    0   92     606    29      0         3
845       3      0      0   715    1   29     304   232      0         3
846       2      0      2   202    0   62     556   115      0         3
847       3      1      1   174    1   91     561    47      0         3
848       3      0      0   662    1   23     292   206      0         3
849       3      2      0   714    1   92     187    65      0         1
850       3      0      0   567    0   92     443    42      0         2
851       3      0      0   817    1   92     422   206      0         3
852       1      1      0    82    0   19      61   238     25         1
853       2      0      2   829    0   35     231    73      0         3
854       3      1      0   203    1   92     490    51      0         3
855       3      0      0   594    0   92     439   179      0         2
856       1      0      0   178    1   92      40    86      0         3
857       3      0      0   478    0   29     322   180      0         3
858       2      1      1   354    0   17     159    21      0         3
859       1      1      0   743    1   27      94   221     24         3
860       1      0      0   737    1   33      38   114     10         3
861       2      1      2   461    0   24     637   122      0         1
862       3      0      2    90    0   92     198    41      0         1
863       2      1      0   136    1   69     136    82      0         3
864       2      2      1    72    0   51     105   117    132         3
865       2      1      0   237    0   37     632    26      0         1
866       2      1      0   106    0   21     114    82      0         3
867       3      0      0   263    1   92     524   206      0         3
868       3      1      0   412    0   21     497   235      0         3
869       1      1      0   186    0   49     598   193     78         1
870       3      0      0   592    1   92     286   176      0         2
871       1      0      1   836    1   23     419   199     92         3

     boat  body  home.dest
0      21    83        227
1      21    83        238
2      24    83          0
3      21    83        191
4       4    83         59
5      21    83          0
6      21    83         90
7      21    83        140
8      21    83          0
9      26    83        197
10     21    73          0
11     21    83        212
12     21    83          0
13     21    76          9
14     21    83          0
15     21     7          0
16     21    83          0
17     21    83          0
18     24    83          0
19      4    83        272
20     20    83          0
21      4    83        172
22     21    83          0
23     21    83          4
24     11    83        191
25      7    83         91
26     12    83        126
27     21    83          0
28     21    40         85
29     21    83        203
..    ...   ...        ...
842    21    81        201
843    21    83        231
844    13    83        191
845     2    83          0
846     7    83        245
847    10    83         96
848    21    83          0
849    21    83          0
850     9    83          0
851    21    83          0
852    17    83         83
853     7    83         70
854    21    83        160
855    21    83          0
856    21    83        220
857    21    83          0
858    21    83        152
859    17    83        182
860    17    83        189
861     7    83        205
862    21    83        263
863    21    83        161
864     2    83        119
865     3    83         15
866     3    83        234
867    21    83         34
868    21    83          0
869    12    83        191
870    21    83          0
871    21    20         46

[872 rows x 13 columns]

Task 3: Alright hotshot, time to create your Decision Tree. Go ahead an initialize one. Don't worry about setting any of the 
parameters right now, they all have defaults. Here's a helpful [link](http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier)

In [5]:
decision_tree = tree.DecisionTreeClassifier()

Task 4: Alright, you think you've got your tree? Time to train it with the x_train and y_train variables you created earlier.

In [6]:
decision_tree = decision_tree.fit(x_train, y_train)

Task 5: Your tree is trained! Hopefully! So let's use it to predict the survival of the testingset. What you should get from using your x_test dataset is an output of 1's and 0's representing the model's guess on survival for each row in the testing set

In [7]:
predictions = decision_tree.predict(x_test)
print(predictions)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

Task 6: That's awesome, you made your first predictions with a machine learning model. But its hard to really get a feel for what that means. So the model says that row x of the testing set died. Okay fine. But is it accurate? Did row x really die? Let's score the model. We have the actual answers for our testing set in y_test. Let's use them to see how you did.

In [8]:
score = decision_tree.score(x_test, y_test)
print(score)

0.316513761468