Welcome to the OT Machine Learning Training #1
We just heard a lot about basic ML and decision trees. Now while it is fun and challenging to code your own decision tree algo, I 
think we could better use this time to familiarize ourselves with some of the tools of the trade. This will also include 
learning about how we prepare data for ML and how tuning small parameters on the models can make a huge difference in results.

So, what are these tools of the trade? Well to start, the most popular language for ML is (arguably) Python. So we will be using
python. Don't freak out, it's pretty intuitive. 

What else? 
- Well we need a good way to represent and handle our data (what we will learn from). Pandas is a fantastic data analysis
library very popular in the ML world. Pandas will allow us to read data from csv files, and represent it in a easy to handle way.
- Since we aren't going to write our own Decision Tree right now we need a way to create one. Scikit-learn is the leading machine 
learning library in python. It provides all types of classifiers, including Decision Trees. 
- And of course this is a Jupyter notebook. It will be your favorite thing. You can execute through this notebook in parts or 'cells'which allows you to move at your own pace and allows me to provide you some structure.

The Task
The goal of this training is to read in 'training' dataset, use it to train a Decision Tree, and successfully classify a 'test'
dataset. The dataset is about the Titanic. You will be predicting whether a given person survived or not. 
The dataset source is here [blue text](https://www.openml.org/d/40945) but you don't need to download anything.

Let's get started

In [60]:
# this is how you import libraries in python
import pandas as pd
import sklearn
from sklearn import tree, preprocessing

Task 1: Read the 'training.csv' into a pandas dataframe. Change the code below to do that. If you do it right, when you run the 
notebook, it will print the training dataset. You'll see passenger information

In [61]:
training_data = pd.read_csv('training.csv')
print(training_data)

     pclass  survived                                               name  \
0         2         1                          Brown, Miss. Edith Eileen
1         2         0                          Slemen, Mr. Richard James
2         1         1                          Wilson, Miss. Helen Alice
3         3         1             Johansson Palmquist, Mr. Oskar Leander
4         3         1                           Cohen, Mr. Gurshon 'Gus'
5         3         0                             Odahl, Mr. Nils Martin
6         2         1                     Davies, Master. John Morgan Jr
7         2         1              Abelson, Mrs. Samuel (Hannah Wizosky)
8         1         1                 Cardeza, Mr. Thomas Drake Martinez
9         3         0                    Lovell, Mr. John Hall ('Henry')
10        2         1                      Brown, Miss. Amelia 'Mildred'
11        2         1            Mallet, Mrs. Albert (Antoinette Magnin)
12        3         0        Palsson, Mrs. Nils (Alma Cornelia Berglund)
13        3         0          Khalil, Mrs. Betros (Zahie 'Maria' Elias)
14        2         0                         Andrew, Mr. Edgardo Samuel
15        3         0                                Charters, Mr. David
16        3         0                            Hansen, Mr. Claus Peter
17        1         1                    Williams, Mr. Richard Norris II
18        3         0                             Johnston, Mr. Andrew G
19        3         0                                   Ford, Mr. Arthur
20        3         0                            Wiklund, Mr. Karl Johan
21        3         0                                Mernagh, Mr. Robert
22        3         0                                 Bourke, Miss. Mary
23        3         0                                 Lithman, Mr. Simon
24        3         0                               O'Brien, Mr. Timothy
25        3         0                    Brocklebank, Mr. William Alfred
26        2         1                              Laroche, Miss. Louise
27        3         1                             Turkula, Mrs. (Hedwig)
28        1         1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
29        3         0                         Tomlin, Mr. Ernest Portage
..      ...       ...                                                ...
842       2         0                                  Mack, Mrs. (Mary)
843       3         0                     Sage, Mrs. John (Annie Bullen)
844       3         1                      O'Leary, Miss. Hanora 'Norah'
845       1         0                         Ryerson, Mr. Arthur Larned
846       3         1                     Sunderland, Mr. Victor Francis
847       2         0                             Hunt, Mr. George Henry
848       3         0                                McMahon, Mr. Martin
849       3         1                                 Moor, Mrs. (Beila)
850       1         1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
851       3         0                    Fischer, Mr. Eberhard Thelander
852       3         0                                 Jonkoff, Mr. Lalio
853       2         1                       Lemore, Mrs. (Amelia Milley)
854       2         0                                  Reeves, Mr. David
855       3         0                                Haas, Miss. Aloisia
856       1         0                        Franklin, Mr. Thomas Parham
857       3         0         Strom, Mrs. Wilhelm (Elna Matilda Persson)
858       3         0                             Allum, Mr. Owen George
859       3         0                  Lindblom, Miss. Augusta Charlotta
860       2         1      Weisz, Mrs. Leopold (Mathilde Francoise Pede)
861       3         0                         Thorneycroft, Mr. Percival
862       3         0                               Rice, Master. Albert
863       1         0                         Hays, Mr. Charles Melville
864       2         0                              Lamb, Mr. John Joseph
865       3         0                    Shellard, Mr. Frederick William
866       3         0                           Conlon, Mr. Thomas Henry
867       2         1                           Quick, Miss. Phyllis May
868       1         0                     Porter, Mr. Walter Chamberlain
869       3         0                             Dintcheff, Mr. Valtcho
870       2         0                               Moraweck, Dr. Ernest
871       2         1  Angle, Mrs. William A (Florence 'Mary' Agnes H...

        sex   age  sibsp  parch           ticket      fare            cabin  \
0    female    15      0      2            29750        39                ?
1      male    35      0      0            28206      10.5                ?
2    female    31      0      0            16966     134.5          E39 E41
3      male    26      0      0           347070     7.775                ?
4      male    18      0      0         A/5 3540      8.05                ?
5      male    23      0      0             7267     9.225                ?
6      male     8      1      1       C.A. 33112     36.75                ?
7    female    28      1      0        P/PP 3381        24                ?
8      male    36      0      1         PC 17755  512.3292      B51 B53 B55
9      male  20.5      0      0        A/5 21173      7.25                ?
10   female    24      0      0           248733        13              F33
11   female    24      1      1  S.C./PARIS 2079   37.0042                ?
12   female    29      0      4           349909    21.075                ?
13   female     ?      1      0             2660   14.4542                ?
14     male    18      0      0           231945      11.5                ?
15     male    21      0      0       A/5. 13032    7.7333                ?
16     male    41      2      0           350026   14.1083                ?
17     male    21      0      1         PC 17597   61.3792                ?
18     male     ?      1      2       W./C. 6607     23.45                ?
19     male     ?      0      0         A/5 1478      8.05                ?
20     male    21      1      0          3101266    6.4958                ?
21     male     ?      0      0           368703      7.75                ?
22   female     ?      0      2           364848      7.75                ?
23     male     ?      0      0    S.O./P.P. 251      7.55                ?
24     male     ?      0      0           330979    7.8292                ?
25     male    35      0      0           364512      8.05                ?
26   female     1      1      2    SC/Paris 2123   41.5792                ?
27   female    63      0      0             4134    9.5875                ?
28   female    47      1      1            11751   52.5542              D35
29     male  30.5      0      0           364499      8.05                ?
..      ...   ...    ...    ...              ...       ...              ...
842  female    57      0      0      S.O./P.P. 3      10.5              E77
843  female     ?      1      9         CA. 2343     69.55                ?
844  female     ?      0      0           330919    7.8292                ?
845    male    61      1      3         PC 17608   262.375  B57 B59 B63 B66
846    male    16      0      0  SOTON/OQ 392089      8.05                ?
847    male    33      0      0       SCO/W 1585    12.275                ?
848    male     ?      0      0           370372      7.75                ?
849  female    27      0      1           392096    12.475             E121
850  female    48      0      0            17466   25.9292              D17
851    male    18      0      0           350036    7.7958                ?
852    male    23      0      0           349204    7.8958                ?
853  female    34      0      0       C.A. 34260      10.5              F33
854    male    36      0      0       C.A. 17248      10.5                ?
855  female    24      0      0           349236      8.85                ?
856    male     ?      0      0           113778     26.55              D34
857  female    29      1      1           347054   10.4625               G6
858    male    18      0      0             2223       8.3                ?
859  female    45      0      0           347073      7.75                ?
860  female    29      1      0           228414        26                ?
861    male     ?      1      0           376564      16.1                ?
862    male    10      4      1           382652    29.125                ?
863    male    55      1      1            12749      93.5              B69
864    male     ?      0      0           240261   10.7083                ?
865    male     ?      0      0        C.A. 6212      15.1                ?
866    male    31      0      0            21332    7.7333                ?
867  female     2      1      1            26360        26                ?
868    male    47      0      0           110465        52             C110
869    male    43      0      0           349226    7.8958                ?
870    male    54      0      0            29011        14                ?
871  female    36      1      0           226875        26                ?

    embarked boat body                                       home.dest
0          S   14    ?           Cape Town, South Africa / Seattle, WA
1          S    ?    ?                                        Cornwall
2          C    3    ?                                               ?
3          S   15    ?                                               ?
4          S   12    ?                             London Brooklyn, NY
5          S    ?    ?                                               ?
6          S   14    ?                 St Ives, Cornwall / Hancock, MI
7          C   10    ?                             Russia New York, NY
8          C    3    ?  Austria-Hungary / Germantown, Philadelphia, PA
9          S    ?    ?                                               ?
10         S   11    ?                           London / Montreal, PQ
11         C   10    ?                            Paris / Montreal, PQ
12         S    ?  206                                               ?
13         C    ?    ?                                               ?
14         S    ?    ?        Buenos Aires, Argentina / New Jersey, NJ
15         Q    ?    ?                            Ireland New York, NY
16         S    ?    ?                                               ?
17         C    A    ?                Geneva, Switzerland / Radnor, PA
18         S    ?    ?                                               ?
19         S    ?    ?                   Bridgwater, Somerset, England
20         S    ?    ?                                               ?
21         Q    ?    ?                                               ?
22         Q    ?    ?                             Ireland Chicago, IL
23         S    ?    ?                                               ?
24         Q    ?    ?                                               ?
25         S    ?    ?                 Broomfield, Chelmsford, England
26         C   14    ?                                   Paris / Haiti
27         S   15    ?                                               ?
28         S    5    ?                                    New York, NY
29         S    ?   50                                               ?
..       ...  ...  ...                                             ...
842        S    ?   52                      Southampton / New York, NY
843        S    ?    ?                                               ?
844        Q   13    ?                                               ?
845        C    ?    ?                 Haverford, PA / Cooperstown, NY
846        S    B    ?                                               ?
847        S    ?    ?                                Philadelphia, PA
848        Q    ?    ?                                               ?
849        S   14    ?                                               ?
850        S    8    ?                                    Brooklyn, NY
851        S    ?    ?                                               ?
852        S    ?    ?                                               ?
853        S   14    ?                                     Chicago, IL
854        S    ?    ?                                Brighton, Sussex
855        S    ?    ?                                               ?
856        S    ?    ?                         Westcliff-on-Sea, Essex
857        S    ?    ?                                               ?
858        S    ?  259                   Windsor, England New York, NY
859        S    ?    ?                                               ?
860        S   10    ?              Bromsgrove, England / Montreal, PQ
861        S    ?    ?                                               ?
862        Q    ?    ?                                               ?
863        S    ?  307                                    Montreal, PQ
864        Q    ?    ?                                               ?
865        S    ?    ?                                               ?
866        Q    ?    ?                                Philadelphia, PA
867        S   11    ?                   Plymouth, Devon / Detroit, MI
868        S    ?  207                                   Worcester, MA
869        S    ?    ?                                               ?
870        S    ?    ?                                   Frankfort, KY
871        S   11    ?                                Warwick, England

[872 rows x 14 columns]

Task 2: Awesome you have the dataset. Now a pandas dataframe is kinda like a table. It has columns with labels representing our
attributes, like 'age' 'sex' and 'name' and rows representing single instances of data. Kate Winslet would have a row, Leo would 
have a row, etc.

One of our attributes/one of the columns is called 'survived'. This is what you want to teach your model to predict. Because we aretraining, we have those values in this dataset, but we won't when we move to the test dataset.

What we need to do is extract the 'survived' column from the training dataset. The Decision tree we are going to use accepts two 
parameters: x_train and y_train. 

x_train is all rows and columns except the target column
y_train is your target column

Try to create these two variables from your training_data dataframe

In [62]:
y_train = training_data[['survived']]
x_train = training_data.drop('survived', axis=1)

print(y_train)

     survived
0           1
1           0
2           1
3           1
4           1
5           0
6           1
7           1
8           1
9           0
10          1
11          1
12          0
13          0
14          0
15          0
16          0
17          1
18          0
19          0
20          0
21          0
22          0
23          0
24          0
25          0
26          1
27          1
28          1
29          0
..        ...
842         0
843         0
844         1
845         0
846         1
847         0
848         0
849         1
850         1
851         0
852         0
853         1
854         0
855         0
856         0
857         0
858         0
859         0
860         1
861         0
862         0
863         0
864         0
865         0
866         0
867         1
868         0
869         0
870         0
871         1

[872 rows x 1 columns]

Task 3: Awesome you have your training data, nicely seperated into instances and targets. Ready to train the tree right?? Not so
fast. One of the tough things about sklearn and other python libraries is they don't allow for categorical variables in models. 
What does that mean? It means attributes like 'name' whose value is something other than numerical. That confuses the model and it
will refect you. No one likes rejection. So we need to do some more data manipulating. Getting a little tedious? This is a lesson
in ML - it's not all about the models. Having good, clean data is a huge priority and takes work. Lucky for you I'll handle this.
Just run the below to make sure you get what you need.

In [67]:
# find the offensive columns
bad_form_attributes = x_train.select_dtypes(include=[object])
print('these are the categorical columns', bad_form_attributes.columns, '\n')

# drop the badies from our nice x_train
x_train.drop(bad_form_attributes.columns, axis=1)

encoder = preprocessing.LabelEncoder()
encoded_columns = bad_form_attributes.apply(encoder.fit_transform)
print('check it out we encoded the badies \n', encoded_columns)

x_train = x_train.join(encoded_columns, lsuffix='_left', rsuffix='_right')
print(x_train)

these are the categorical columns Index(['name', 'sex', 'age', 'ticket', 'fare', 'cabin', 'embarked', 'boat',
       'body', 'home.dest'],
      dtype='object')

check it out we encoded the badies
      name  sex  age  ticket  fare  cabin  embarked  boat  body  home.dest
0     113    0   12     248   123      0         3     6    84         51
1     744    1   42     229     3      0         3    18    84         65
2     855    0   36      80    28    123         1    11    84          0
3     393    1   28     327   186      0         3     7    84          0
4     175    1   15     529   208      0         3     3    84        169
5     599    1   24     501   231      0         3    18    84          0
6     220    1   86     556   121      0         3     6    84        251
7       6    0   30     581    78      0         1     1    84        233
8     139    1   43     614   139     31         1    11    84         12
9     485    1   20     524   171      0         3    18    84          0
10    112    0   26     164    22    137         3     2    84        164
11    505    0   26     621   122      0         1     1    84        208
12    620    0   32     391    66      0         3    18    33          0
13    424    0   89     193    33      0         1    18    84          0
14     34    1   15     117    10      0         3    18    84         45
15    161    1   21     533   182      0         2    18    84        144
16    331    1   51     394    31      0         3    18    84          0
17    853    1   21     600   156      0         1    19    84        106
18    400    1   89     680    77      0         3    18    84          0
19    273    1   89     522   208      0         3    18    84         31
20    846    1   21     252   150      0         3    18    84          0
21    533    1   89     447   185      0         2    18    84          0
22    101    0   89     426   185      0         2    18    84        143
23    477    1   89     623   175      0         3    18    84          0
24    590    1   89     296   189      0         2    18    84          0
25    111    1   42     423   208      0         3    18    84         41
26    449    0    5     643   128      0         1     6    84        207
27    800    0   78     486   236      0         3     7    84          0
28     84    0   58      54   141    102         3    13    84        193
29    788    1   35     419   208      0         3    18    70          0
..    ...  ...  ...     ...   ...    ...       ...   ...   ...        ...
842   493    0   70     624     3    130         3    18    71        242
843   718    0   89     570   162      0         3    18    84          0
844   597    0   89     288   189      0         2     4    84          0
845   706    1   76     608    91     33         1    18    84        129
846   768    1   13     661   208      0         3    20    84          0
847   374    1   39     645    15      0         3    18    84        215
848   523    1   89     459   185      0         2    18    84          0
849   546    0   29     484    18    118         3     6    84          0
850   774    0   59      86    86     93         3    16    84         40
851   267    1   15     395   187      0         3    18    84          0
852   403    1   24     355   193      0         3    18    84          0
853   462    0   40     559     3    137         3     6    84         54
854   668    1   43     546     3      0         3    18    84         32
855   325    0   26     379   221      0         3    18    84          0
856   286    1   89      36    90    101         3    18    84        289
857   767    0   32     321     2    140         3    18    84          0
858    22    1   15     107   212      0         3    18    44        293
859   469    0   55     329   185      0         3    18    84          0
860   828    0   32     111    87      0         3     1    84         37
861   785    1   89     471    52      0         3    18    84          0
862   674    1    6     476   100      0         2    18    84          0
863   348    1   67      69   243     35         3    18    59        188
864   447    1   89     143     5      0         2    18    84          0
865   731    1   89     565    41      0         3    18    84          0
866   184    1   36     102   182      0         2    18    84        215
867   664    0   18     183    87      0         3     2    84        216
868   661    1   58       2   140     48         3    18    34        298
869   240    1   53     371   193      0         3    18    84          0
870   551    1   66     241    30      0         3    18    84        104
871    39    0   43     110    87      0         3     2    84        283

[872 rows x 10 columns]
     pclass                                               name     sex   age  \
0         2                          Brown, Miss. Edith Eileen  female    15
1         2                          Slemen, Mr. Richard James    male    35
2         1                          Wilson, Miss. Helen Alice  female    31
3         3             Johansson Palmquist, Mr. Oskar Leander    male    26
4         3                           Cohen, Mr. Gurshon 'Gus'    male    18
5         3                             Odahl, Mr. Nils Martin    male    23
6         2                     Davies, Master. John Morgan Jr    male     8
7         2              Abelson, Mrs. Samuel (Hannah Wizosky)  female    28
8         1                 Cardeza, Mr. Thomas Drake Martinez    male    36
9         3                    Lovell, Mr. John Hall ('Henry')    male  20.5
10        2                      Brown, Miss. Amelia 'Mildred'  female    24
11        2            Mallet, Mrs. Albert (Antoinette Magnin)  female    24
12        3        Palsson, Mrs. Nils (Alma Cornelia Berglund)  female    29
13        3          Khalil, Mrs. Betros (Zahie 'Maria' Elias)  female     ?
14        2                         Andrew, Mr. Edgardo Samuel    male    18
15        3                                Charters, Mr. David    male    21
16        3                            Hansen, Mr. Claus Peter    male    41
17        1                    Williams, Mr. Richard Norris II    male    21
18        3                             Johnston, Mr. Andrew G    male     ?
19        3                                   Ford, Mr. Arthur    male     ?
20        3                            Wiklund, Mr. Karl Johan    male    21
21        3                                Mernagh, Mr. Robert    male     ?
22        3                                 Bourke, Miss. Mary  female     ?
23        3                                 Lithman, Mr. Simon    male     ?
24        3                               O'Brien, Mr. Timothy    male     ?
25        3                    Brocklebank, Mr. William Alfred    male    35
26        2                              Laroche, Miss. Louise  female     1
27        3                             Turkula, Mrs. (Hedwig)  female    63
28        1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female    47
29        3                         Tomlin, Mr. Ernest Portage    male  30.5
..      ...                                                ...     ...   ...
842       2                                  Mack, Mrs. (Mary)  female    57
843       3                     Sage, Mrs. John (Annie Bullen)  female     ?
844       3                      O'Leary, Miss. Hanora 'Norah'  female     ?
845       1                         Ryerson, Mr. Arthur Larned    male    61
846       3                     Sunderland, Mr. Victor Francis    male    16
847       2                             Hunt, Mr. George Henry    male    33
848       3                                McMahon, Mr. Martin    male     ?
849       3                                 Moor, Mrs. (Beila)  female    27
850       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female    48
851       3                    Fischer, Mr. Eberhard Thelander    male    18
852       3                                 Jonkoff, Mr. Lalio    male    23
853       2                       Lemore, Mrs. (Amelia Milley)  female    34
854       2                                  Reeves, Mr. David    male    36
855       3                                Haas, Miss. Aloisia  female    24
856       1                        Franklin, Mr. Thomas Parham    male     ?
857       3         Strom, Mrs. Wilhelm (Elna Matilda Persson)  female    29
858       3                             Allum, Mr. Owen George    male    18
859       3                  Lindblom, Miss. Augusta Charlotta  female    45
860       2      Weisz, Mrs. Leopold (Mathilde Francoise Pede)  female    29
861       3                         Thorneycroft, Mr. Percival    male     ?
862       3                               Rice, Master. Albert    male    10
863       1                         Hays, Mr. Charles Melville    male    55
864       2                              Lamb, Mr. John Joseph    male     ?
865       3                    Shellard, Mr. Frederick William    male     ?
866       3                           Conlon, Mr. Thomas Henry    male    31
867       2                           Quick, Miss. Phyllis May  female     2
868       1                     Porter, Mr. Walter Chamberlain    male    47
869       3                             Dintcheff, Mr. Valtcho    male    43
870       2                               Moraweck, Dr. Ernest    male    54
871       2  Angle, Mrs. William A (Florence 'Mary' Agnes H...  female    36

     sibsp  parch           ticket      fare            cabin embarked boat  \
0        0      2            29750        39                ?        S   14
1        0      0            28206      10.5                ?        S    ?
2        0      0            16966     134.5          E39 E41        C    3
3        0      0           347070     7.775                ?        S   15
4        0      0         A/5 3540      8.05                ?        S   12
5        0      0             7267     9.225                ?        S    ?
6        1      1       C.A. 33112     36.75                ?        S   14
7        1      0        P/PP 3381        24                ?        C   10
8        0      1         PC 17755  512.3292      B51 B53 B55        C    3
9        0      0        A/5 21173      7.25                ?        S    ?
10       0      0           248733        13              F33        S   11
11       1      1  S.C./PARIS 2079   37.0042                ?        C   10
12       0      4           349909    21.075                ?        S    ?
13       1      0             2660   14.4542                ?        C    ?
14       0      0           231945      11.5                ?        S    ?
15       0      0       A/5. 13032    7.7333                ?        Q    ?
16       2      0           350026   14.1083                ?        S    ?
17       0      1         PC 17597   61.3792                ?        C    A
18       1      2       W./C. 6607     23.45                ?        S    ?
19       0      0         A/5 1478      8.05                ?        S    ?
20       1      0          3101266    6.4958                ?        S    ?
21       0      0           368703      7.75                ?        Q    ?
22       0      2           364848      7.75                ?        Q    ?
23       0      0    S.O./P.P. 251      7.55                ?        S    ?
24       0      0           330979    7.8292                ?        Q    ?
25       0      0           364512      8.05                ?        S    ?
26       1      2    SC/Paris 2123   41.5792                ?        C   14
27       0      0             4134    9.5875                ?        S   15
28       1      1            11751   52.5542              D35        S    5
29       0      0           364499      8.05                ?        S    ?
..     ...    ...              ...       ...              ...      ...  ...
842      0      0      S.O./P.P. 3      10.5              E77        S    ?
843      1      9         CA. 2343     69.55                ?        S    ?
844      0      0           330919    7.8292                ?        Q   13
845      1      3         PC 17608   262.375  B57 B59 B63 B66        C    ?
846      0      0  SOTON/OQ 392089      8.05                ?        S    B
847      0      0       SCO/W 1585    12.275                ?        S    ?
848      0      0           370372      7.75                ?        Q    ?
849      0      1           392096    12.475             E121        S   14
850      0      0            17466   25.9292              D17        S    8
851      0      0           350036    7.7958                ?        S    ?
852      0      0           349204    7.8958                ?        S    ?
853      0      0       C.A. 34260      10.5              F33        S   14
854      0      0       C.A. 17248      10.5                ?        S    ?
855      0      0           349236      8.85                ?        S    ?
856      0      0           113778     26.55              D34        S    ?
857      1      1           347054   10.4625               G6        S    ?
858      0      0             2223       8.3                ?        S    ?
859      0      0           347073      7.75                ?        S    ?
860      1      0           228414        26                ?        S   10
861      1      0           376564      16.1                ?        S    ?
862      4      1           382652    29.125                ?        Q    ?
863      1      1            12749      93.5              B69        S    ?
864      0      0           240261   10.7083                ?        Q    ?
865      0      0        C.A. 6212      15.1                ?        S    ?
866      0      0            21332    7.7333                ?        Q    ?
867      1      1            26360        26                ?        S   11
868      0      0           110465        52             C110        S    ?
869      0      0           349226    7.8958                ?        S    ?
870      0      0            29011        14                ?        S    ?
871      1      0           226875        26                ?        S   11

    body                                       home.dest
0      ?           Cape Town, South Africa / Seattle, WA
1      ?                                        Cornwall
2      ?                                               ?
3      ?                                               ?
4      ?                             London Brooklyn, NY
5      ?                                               ?
6      ?                 St Ives, Cornwall / Hancock, MI
7      ?                             Russia New York, NY
8      ?  Austria-Hungary / Germantown, Philadelphia, PA
9      ?                                               ?
10     ?                           London / Montreal, PQ
11     ?                            Paris / Montreal, PQ
12   206                                               ?
13     ?                                               ?
14     ?        Buenos Aires, Argentina / New Jersey, NJ
15     ?                            Ireland New York, NY
16     ?                                               ?
17     ?                Geneva, Switzerland / Radnor, PA
18     ?                                               ?
19     ?                   Bridgwater, Somerset, England
20     ?                                               ?
21     ?                                               ?
22     ?                             Ireland Chicago, IL
23     ?                                               ?
24     ?                                               ?
25     ?                 Broomfield, Chelmsford, England
26     ?                                   Paris / Haiti
27     ?                                               ?
28     ?                                    New York, NY
29    50                                               ?
..   ...                                             ...
842   52                      Southampton / New York, NY
843    ?                                               ?
844    ?                                               ?
845    ?                 Haverford, PA / Cooperstown, NY
846    ?                                               ?
847    ?                                Philadelphia, PA
848    ?                                               ?
849    ?                                               ?
850    ?                                    Brooklyn, NY
851    ?                                               ?
852    ?                                               ?
853    ?                                     Chicago, IL
854    ?                                Brighton, Sussex
855    ?                                               ?
856    ?                         Westcliff-on-Sea, Essex
857    ?                                               ?
858  259                   Windsor, England New York, NY
859    ?                                               ?
860    ?              Bromsgrove, England / Montreal, PQ
861    ?                                               ?
862    ?                                               ?
863  307                                    Montreal, PQ
864    ?                                               ?
865    ?                                               ?
866    ?                                Philadelphia, PA
867    ?                   Plymouth, Devon / Detroit, MI
868  207                                   Worcester, MA
869    ?                                               ?
870    ?                                   Frankfort, KY
871    ?                                Warwick, England

[872 rows x 13 columns]

Task 3: Alright hotshot, time to create your Decision Tree. Go ahead an initialize one. Don't worry about setting any of the 
parameters right now, they all have defaults. Here's a helpful [link](http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier)

In [ ]:
decision_tree = tree.something_here_that_makes_a_tree

Task 4: Alright, you think you've got your tree? Time to train it with the x_train and y_train variables you created earlier.

In [ ]:
decision_tree = decision_tree.train_me_somehow

Task 5: Your tree is trained! Hopefully! So let's use it to predict the survival of the testing set. First we need to load the
testing set.

In [ ]:
testing_data = []